<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
    <p>
     	Hello, <span th:text="${name}">Joseph</span>
    </p>    
    <p>
		Please reset your password by clicking <a href="#" th:href="${passwordResetLink}">here</a>.<br/>
	</p>
	<p>
		If you do not initiate this action kindly click <a href="#" th:href="${reportLink}">here</a> to report.<br/>		
	</p>    
    <p>
      	Regards, <br />
      	<em>SoftTech &copy;</em>
    </p>
  </body>
</html>