<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="description" content="SoftTech" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	
	<title th:text="#{webapp.title}">SoftTech</title>
	
	<link rel="icon" type="image/ico" href="../../img/favicon.ico" th:href="@{/img/favicon.ico}" />
	
	<link href="../../css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" rel="stylesheet" />
	<link href="../../css/style.css" th:href="@{/css/style.css}" rel="stylesheet" />	
</head>
<body>
    
    <div th:fragment="header">
        <div class="navbar navbar-default navbar-fixed-top">
			<div class="container">
				<a class="navbar-brand" href="#" th:text="#{brand.name}" th:href="@{/admin}">#SoftTech</a>			
			</div>
		</div>
        <nav class="navbar navbar-inverse" role="navigation">
          <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>              
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
              <ul class="nav navbar-nav">
                <li class="active" th:class="${#strings.endsWith(#httpServletRequest.getRequestURI(), '/admin')} ? 'active' : ''"><a href="index.html" th:href="@{/admin}">Home</a></li>
                <li class="dropdown" th:class="${#strings.endsWith(#httpServletRequest.getRequestURI(), '/admin/createUserAccount') or #strings.endsWith(#httpServletRequest.getRequestURI(), '/admin/userAccountList')} ? 'active' : ''">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown">User Management <span class="caret"></span></a>
                  <ul class="dropdown-menu" role="menu">
                    <li><a href="createUserAccount.html" th:href="@{/admin/createUserAccount}">Create User</a></li>
                    <li><a href="userAccountList.html" th:href="@{/admin/userAccountList}">User Accounts</a></li>
                  </ul>
                </li>                
              </ul>
              <ul class="nav navbar-nav navbar-right">
				<li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown"><span sec:authentication="name">Joseph</span> <span class="caret"></span></a>
                  <ul class="dropdown-menu" role="menu">
                    <li><a th:href="@{#}" href="index.html" id="logoutLink">Sign out</a></li>	                    
                  </ul>
                </li>
			  </ul>
            </div>
          </div>
        </nav>
        
        <form style="visibility: hidden" id="formLogout" method="post" action="#" th:action="@{/logout}"></form>
        <form style="visibility: hidden" id="formEditUser" method="post" action="#" th:action="@{/admin/editUserAccount}">
        	<input type="text" name="email" id="emailToEditInput"/>
        </form>
    </div>
    
    <footer th:fragment="footer">
    	<div class="navbar navbar-default navbar-fixed-bottom">
			<div class="container">
				<p class="navbar-text pull-right"><a href="#">Back to top</a></p>
				<p class="navbar-text">&copy; 2014 SoftTech &middot; <a href="#">Privacy</a> &middot; <a href="#">Terms</a></p>
			</div>
		</div>	
	</footer>
    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
	<script src="../../js/bootstrap.min.js" th:src="@{/js/bootstrap.min.js}"></script>	
</body>
</html>