<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="description" content="SoftTech" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	
	<title th:text="#{webapp.title}">SoftTechs</title>
	
	<link rel="icon" type="image/ico" href="../../img/favicon.ico" th:href="@{/img/favicon.ico}" />
	
	<link href="../../css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" rel="stylesheet" />
	<link href="../../css/style.css" th:href="@{/css/style.css}" rel="stylesheet" />
	<link href="../../css/sb-admin-2.css" th:href="@{/css/sb-admin-2.css}" rel="stylesheet" />
	<link href="../../css/plugins/jasny-bootstrap.min.css" th:href="@{/css/plugins/jasny-bootstrap.min.css}" rel="stylesheet" />
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body>
    
    <div th:include="common :: header" role="navigation"></div>
    
    <div class="container">
        <div class="jumbotron">
	      <div class="container">
	        <h1>Register</h1>
	      </div>
	    </div>
        <footer th:include="common :: footer"></footer>
    </div>
    <div class="container">
		<div class="panel panel-default">
		<div class="panel-body">
    	<div class="row">
    		<div class="col-lg-4 mar-b-0">
				<div class="panel panel-default" th:classappend="${step.name() == 'Step1'}? 'panel-green'">
				    <div class="panel-heading">
				        Step 1
				    </div>
				    <div class="panel-body">
				        <p>Select your title, category and technology so that we can asses your application easily.</p>
				    </div>
				</div>
		         <div class="panel panel-default" th:classappend="${step.name() == 'Step2'}? 'panel-green'">
		             <div class="panel-heading">
		                 Step 2
		             </div>
		             <div class="panel-body">
		                 <p>Upload your latest resume.</p>
		             </div>
		         </div>
		         <div class="panel panel-default mar-b-0" th:classappend="${step.name() == 'Step3'}? 'panel-green'">
		             <div class="panel-heading">
		                 Step 3
		             </div>
		             <div class="panel-body">
		                 <p>Complete your profile</p>
		             </div>
		         </div>
    		</div>
    		<div class="col-lg-8">
    			<!-- Step 1 -->
    			<div th:if="${step.name() == 'Step1'}" class="mar-t-30">
	    			<form role="form" action="#" th:action="@{'/register-step-1'}" th:object="${registrationForm}" method="POST">
						<div class="form-group" th:classappend="${#fields.hasErrors('title')}? 'has-error'">
							<label class="control-label" for="txtTitle">Title</label> 
							<input id="txtTitle" class="form-control" th:field="*{title}"/>
							<span class='control-label' th:if="${#fields.hasErrors('title')}" th:errors="*{title}">Error</span>
						</div>
						<div class="form-group" th:classappend="${#fields.hasErrors('category')}? 'has-error'">
							<label class="control-label" for="cboCategory">Category</label> 
							<select class="form-control" id="cboCategory" th:field="*{category}">
								<option th:each="item : ${categoryList}" th:value="${item}" th:text="${item}"></option>
							</select>
							<span class='control-label' th:if="${#fields.hasErrors('category')}" th:errors="*{category}">Error</span>
						</div>
						<div class="form-group" th:classappend="${#fields.hasErrors('technology')}? 'has-error'">
							<label class="control-label" for="cboTechnology">Tecnhology</label> 
							<select class="form-control" id="cboTechnology" th:field="*{technology}" >
								<option th:each="item : ${technologyList}" th:value="${item}" th:text="${item}"></option>
							</select>
							<span class='control-label' th:if="${#fields.hasErrors('technology')}" th:errors="*{technology}">Error</span>
						</div>
						<div class="float-right mar-t-115">
							<button type="submit" class="btn btn-primary">Next</button>
						</div>
					</form>
				</div>
				<!-- End Step 1 -->
				
				<!-- Step 2 -->
				<div th:if="${step.name() == 'Step2'}">
					<form id="uploadForm" method="POST" th:action="@{'/register-step-2'}" th:object="${registrationForm}" enctype="multipart/form-data">
	    				<div class="row mar-t-30">
	    					<div class="col-lg-12">
	    						<div class="alert alert-danger alert-dismissable hidden mar-b-0 mar-t-20" id="file-error">
	                                <button type="button" class="close" onclick="hideError()" aria-hidden="true">&times;</button>
	                                <strong>Error!</strong> Please upload a file of type <i>.doc</i> or <i>.docx</i> with size up to 5mb only.
	                            </div>
	    					</div>
	    				</div>
	    				<div class="row mar-t-15">
		    				<div class="col-lg-12">	
								<div class="fileinput fileinput-new input-group" data-provides="fileinput">
								  	<div class="form-control" data-trigger="fileinput"><i class="glyphicon glyphicon-file fileinput-exists"></i> <span class="fileinput-filename" ></span></div>
								  	<span class="input-group-addon btn btn-default btn-file"><span class="fileinput-new">Select file</span><span class="fileinput-exists">Change</span><input type="file" name="..." th:field="*{resume}"  accept="application/msword, application/vnd.openxmlformats-officedocument.wordprocessingml.document" onchange='validate(this)'/></span>
								  	<a href="#" class="input-group-addon btn btn-default fileinput-exists" data-dismiss="fileinput">Remove</a>
								</div>
							</div>
	    				</div>
	    				<div class="row">
	    					<div class="col-lg-12">
					        	<div class="float-right mar-t-265 mar-r-10">
									<button type="button" onclick="window.location='show-step-1'" class="btn btn-primary">Back</button>
									<button type="button" class="btn btn-primary" onclick="doNext()">Next</button>
								</div>
		    				</div>
						</div>
				    </form>
			    </div>
				<!-- End Step 2 -->
				
				<!-- Step 3 -->
				<div th:if="${step.name() == 'Step3'}" class="mar-t-30">
					<div class="form-group">
						<div class="radio"><label><input type="radio" name="optCompleteProfile" id="optUseExisting" value="optUseExisting" onchange="switchUseExisting()"/>Use existing account</label></div>
						<div class="radio"><label><input type="radio" name="optCompleteProfile" id="optCreateNew" value="optCreateNew" onchange="switchCreateNew()"/>Create new account</label></div>
                    </div>
					<form role="form" action="#" th:action="@{'/register-step-3'}" th:object="${registrationForm}" method="POST">
						<div id="create-new">
		    				<div class="row mar-t-20">
								<div class="form-group col-lg-5 pad-l-r-5" th:classappend="${#fields.hasErrors('username')}? 'has-error'">
									<input id="txtTitle" class="form-control" th:field="*{username}" placeholder="Username"/>
									<span class='control-label' th:if="${#fields.hasErrors('username')}" th:errors="*{username}">Error</span>
								</div>
							</div>
							<div class="row">
								<div class="form-group col-lg-5 pad-l-r-5" th:classappend="${#fields.hasErrors('password')}? 'has-error'">
									<input type="password" id="txtPassword" class="form-control" th:field="*{password}" placeholder="Password"/>
									<span class='control-label' th:if="${#fields.hasErrors('password')}" th:errors="*{password}">Error</span>
								</div>
							</div>
							<div class="row">
								<div class="form-group col-lg-5 pad-l-r-5" th:classappend="${#fields.hasErrors('retypePassword')}? 'has-error'">
									<input type="password" id="txtRetype" class="form-control" th:field="*{retypePassword}" placeholder="Retype Password"/>
									<span class='control-label' th:if="${#fields.hasErrors('retypePassword')}" th:errors="*{retypePassword}">Error</span>
								</div>
							</div>
							<div class="row">
								<div class="form-group col-lg-6 pad-l-r-5" th:classappend="${#fields.hasErrors('email')}? 'has-error'">
									<input type="email" id="txtEmail" class="form-control" th:field="*{email}" placeholder="Email Address"/>
									<span class='control-label' th:if="${#fields.hasErrors('email')}" th:errors="*{email}">Error</span>
								</div>
								<div class="form-group col-lg-6 pad-l-r-5" th:classappend="${#fields.hasErrors('contact')}? 'has-error'">
									<input id="txtContact" class="form-control" th:field="*{contact}" placeholder="Contact"/>
									<span class='control-label' th:if="${#fields.hasErrors('contact')}" th:errors="*{contact}">Error</span>
								</div>
							</div>
							<div class="row">
								<div class="form-group col-lg-5 pad-l-r-5" th:classappend="${#fields.hasErrors('firstname')}? 'has-error'">
									<input id="txtFirstname" class="form-control" th:field="*{firstname}" placeholder="First Name"/>
									<span class='control-label' th:if="${#fields.hasErrors('firstname')}" th:errors="*{firstname}">Error</span>
								</div>
								<div class="form-group col-lg-2 pad-l-r-5" th:classappend="${#fields.hasErrors('middleInitial')}? 'has-error'">
									<input id="txtMiddleInitial" class="form-control" th:field="*{middleInitial}" placeholder="Middle Initial"/>
								</div>
								<div class="form-group col-lg-5 pad-l-r-5" th:classappend="${#fields.hasErrors('lastname')}? 'has-error'">
									<input id="txtLastname" class="form-control" th:field="*{lastname}" placeholder="Last Name"/>
									<span class='control-label' th:if="${#fields.hasErrors('lastname')}" th:errors="*{lastname}">Error</span>
								</div>
							</div>
							<div class="row">
								<div class="form-group col-lg-12 pad-l-r-5" th:classappend="${#fields.hasErrors('address')}? 'has-error'">
									<input id="txtAddress" class="form-control" th:field="*{address}" placeholder="Address"/>
									<span class='control-label' th:if="${#fields.hasErrors('address')}" th:errors="*{address}">Error</span>
								</div>
							</div>
						</div>
						<div class="float-right mar-t-25" id="step3-btn-wrapper">
							<button type="button" onclick="preserveFormThenBack()" class="btn btn-primary">Back</button>
							<button type="submit" class="btn btn-primary">Next</button>
						</div>
					</form>
				</div>
				<!-- End Step 1 -->
    		</div>
    	</div>
	    </div>
	    </div>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
	<script src="../../js/bootstrap.min.js" th:src="@{/js/bootstrap.min.js}"></script>
	<script src="../../js/index.js" th:src="@{/js/index.js}"></script>
	<script src="../../js/jasny-bootstrap.min.js" th:src="@{/js/jasny-bootstrap.min.js}"></script>
	<script type="text/javascript" th:inline="javascript">
	//<![CDATA[
		var isValid = false;
	           
		function validate(file){
			
			var max = 5 * 1024 * 1024; //5MB
			var file0 = file.files[0];
			var fileName = file0.name;
			
		    if ((file.files && file0.size > max) 
		    		|| (!isExtensionValid(fileName))) {
		    	showError();
		    	
		    	isValid = false;
		    	file.value = null;
		    }else{
		    	hideError();
		    	
		    	isValid = true;
		    }
		}
		
		function isExtensionValid(fileName){
			return endsWith(fileName, 'doc') || endsWith(fileName, 'docx');
		}
		
		function endsWith(str, suffix) {
		    return str.indexOf(suffix, str.length - suffix.length) !== -1;
		}
		
		function showError(){
			var filediv =  $('#file-error');
			
			filediv.removeClass('hidden');
	    	filediv.addClass('visible');
		}
		
		function hideError(){
			var filediv =  $('#file-error');
			
			filediv.removeClass('visible');
	    	filediv.addClass('hidden');
		}
		
		function switchUseExisting(){
			$('#create-new').hide();
			$('#optUseExisting').prop('checked', true);
			$('#step3-btn-wrapper').addClass('mar-t-240');
			
			$.ajax({
				url: "/regist-switch-mode?mode=UseExisting",
				cacheable: false
			})
		}
		
		function switchCreateNew(){
			$('#create-new').show();
			$('#optCreateNew').prop('checked', true);
			$('#step3-btn-wrapper').removeClass('mar-t-240');
			
			$.ajax({
				url: "/regist-switch-mode?mode=CreateNew",
				cacheable: false
			})
		}
		
		function doNext(e){
			if(!isValid){
				showError();
				return;
			}else{
				hideError();
				
				$('#uploadForm').submit();
			}
		}
		
		function preserveFormThenBack(){
			
			var formData = new Object();
			
			formData.username 			= $('#txtTitle').val();	
			formData.retypePassword     = $('#txtRetype').val();	      
			formData.email              = $('#txtEmail').val();	      
			formData.contact            = $('#txtContact').val();	      
			formData.firstname          = $('#txtFirstname').val();      
			formData.lastname           = $('#txtLastname').val();      
			formData.address            = $('#txtAddress').val();
			formData.middleInitial      = $('#txtMiddleInitial').val();
			
			$.ajax({
			       url : '/regist-preserve-form-then-show-step-2',
			       type : 'POST',
			       contentType : 'application/json',
			       data : JSON.stringify(formData),
			       success : function(data){
			    	   window.location = 'show-step-2';
			       }
				});
		}
		
		$(document).ready(function () {
			 var step = /*[[${step.name()}]]*/ 'stepvar';
			 
			 if(step === 'Step1'){
				 //do step1 onload
			 }else if(step === 'Step2'){
				//do step2 onload
			 }else if(step === 'Step3'){
				//do step3 onload
				
				var mode = /*[[${mode}]]*/ 'modevar';
				
				if(mode === 'CreateNew'){
					switchCreateNew();
				}else{
					switchUseExisting();
				}
			 }
		});
	//]]>
	</script>
</body>
</html>