<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="description" content="SoftTech" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	
	<title th:text="#{webapp.title}">SoftTechs</title>
	
	<link rel="icon" type="image/ico" href="../../img/favicon.ico" th:href="@{/img/favicon.ico}" />
	
	<link href="../../css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" rel="stylesheet" />
	<link href="../../css/style.css" th:href="@{/css/style.css}" rel="stylesheet" />
	<link href="../../css/sb-admin-2.css" th:href="@{/css/sb-admin-2.css}" rel="stylesheet" />
	<link href="../../css/jasny-bootstrap.min.css" th:href="@{/css/jasny-bootstrap.min.css}" rel="stylesheet" />
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body>
    
    <div th:include="common :: header" role="navigation"></div>
    
    <div class="container">
        <div class="jumbotron">
	      <div class="container">
	        <h1>Register</h1>
	      </div>
	    </div>
        <footer th:include="common :: footer"></footer>
    </div>
    <div class="container">
		<div class="panel panel-default">
		<div class="panel-body">
    	<div class="row">
    		<div class="col-lg-4 mar-b-0">
				<div class="panel panel-default">
				    <div class="panel-heading">
				        Step 1
				    </div>
				    <div class="panel-body">
				        <p>Select your title, category and technology so that we can asses your application easily.</p>
				    </div>
				</div>
		         <div class="panel panel-green">
		             <div class="panel-heading">
		                 Step 2
		             </div>
		             <div class="panel-body">
		                 <p>Upload your latest resume.</p>
		             </div>
		         </div>
		         <div class="panel panel-default mar-b-0">
		             <div class="panel-heading">
		                 Step 3
		             </div>
		             <div class="panel-body">
		                 <p>Complete your profile</p>
		             </div>
		         </div>
    		</div>
    		<div class="col-lg-8">
    			<form method="POST" th:action="@{'/register-step-2'}" th:object="${registrationForm}" enctype="multipart/form-data">
    				<div class="row">
	    				<div class="col-lg-2">
	    				</div>
	    				<div class="col-lg-8">	
							<div class="fileinput fileinput-new input-group" style="margin-top:30px;" data-provides="fileinput">
							  	<div class="form-control" data-trigger="fileinput">
							  		<i class="glyphicon glyphicon-file fileinput-exists"></i> 
							  		<span class="fileinput-filename"></span>
							  	</div>
							  	<span class="input-group-addon btn btn-default btn-file">
							  		<span class="fileinput-new">Select file</span>
							  		<span class="fileinput-exists">Change</span>
							  		<input type="file" name="..." th:field="*{resume}" 
							  				accept="application/msword, application/vnd.openxmlformats-officedocument.wordprocessingml.document"/>
							  	</span>
							  	<a href="#" class="input-group-addon btn btn-default fileinput-exists" data-dismiss="fileinput">
							  		Remove
							  	</a>
							</div>
						</div>
						<div class="col-lg-2">
	    				</div>
    				</div>
    				<div class="row">
    					<div class="col-lg-12">
				        	<div class="float-right mar-t-265 mar-r-10">
								<button type="button" onclick="window.location='show-step-1'" class="btn btn-primary">Back</button>
								<button type="submit" class="btn btn-primary">Next</button>
							</div>
	    				</div>
					</div>
			    </form>
    		</div>
    	</div>
	    </div>
	    </div>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
	<script src="../../js/bootstrap.min.js" th:src="@{/js/bootstrap.min.js}"></script>
	<script src="../../js/index.js" th:src="@{/js/index.js}"></script>
	<script src="../../js/jasny-bootstrap.min.js" th:src="@{/js/jasny-bootstrap.min.js}"></script>
</body>
</html>